---
title: 标签
layout: new_page
description: null
header-img: "img/tag-bg.jpg"
---


<article>
	{% for tag in site.tags %}
	<div>
    <div class="arrow_box">
        <div class="ti"></div>
        <!--三角形-->
        <div class="ci"></div>
        <!--圆形-->
    </div>
    <div class="view">
        <div class="row">
			<div class="one-tag-list">
			  	<span class="tag-list-title" id="{{ tag[0] }}">{{ tag[0] }}</span>
				<ul>
					{% for post in tag[1] %}
					<li>
						<a href="{{ post.url | prepend: site.baseurl }}">
							<h2 class="post-title">            {{ post.title }}
							</h2>
							{% if post.subtitle %}
							<h3 class="post-subtitle">
								{{ post.subtitle }}
							</h3>
							{% endif %}
						</a>
					</li>
					{% endfor %}
				</ul>
				
			</div>
		</div>
	</div>
	</div>
			{% endfor %}
</article>
