<div class="viny">
    <dl>
        <dt class="art"><img src="/images/artwork.png" alt="专辑"></dt>
        <dd class="icon-song"><span></span>匆匆那年</dd>
        <dd class="icon-artist"><span></span>歌手：王菲</dd>
        <!--<dd class="icon-album"><span></span>所属专辑：</dd>-->
        <!--<dd class="icon-like"><span></span><a href="/">喜欢</a></dd>-->
        <dd class="music">
            <audio src="/images/nf.mp3" controls></audio>
        </dd>
        <!--也可以添加loop属性 音频加载到末尾时，会重新播放-->
    </dl>
</div>