<!-- Navigation -->
 <!-- Collect the nav links, forms, and other content for toggling -->
<header>
    <nav id="nav">
        <ul>
            <li>
                <a href="{{ site.baseurl }}/index.html">首页</a>
            </li>
            {% for page in site.pages %}
            {% if page.title %}
            {% if page.url contains 'navbar' %}
            <li>
                <a href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}" >{{ page.title }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
        <script src="/js/silder.js"></script><!--获取当前页导航 高亮显示标题-->
    </nav>
</header>
