---
layout: new_page
title: "关于"
description: null
header-img: "img/about-bg.jpg"
---

<article>
    <div>
        <div class="arrow_box">
            <div class="ti"></div>
            <!--三角形-->
            <div class="ci"></div>
            <!--圆形-->
        </div>
        <div class="view">
            <div class="row">
                <div class="one-tag-list">
                    <span class="tag-list-title">基本资料</span>
                    <ul>
                        <li><h2>现居：北京</h2></li>
                        <li><h2>性别：男</h2></li>
                        <li><h2>民族：汉</h2></li>
                        <li><h2>籍贯：江苏</h2></li>
                        <li><h2>公司：Egret Technology. (北京白鹭时代信息技术有限公司)</h2></li>
                        <li><h2>Email ：huanghaiying@egret.com</h2></li>
                    </ul>
                </div>
            </div>
        </div>
	</div>
    <div>
        <div class="arrow_box">
            <div class="ti"></div>
            <!--三角形-->
            <div class="ci"></div>
            <!--圆形-->
        </div>
        <div class="view">
            <div class="row">
                <div class="one-tag-list">
                    <span class="tag-list-title">自我介绍</span>
                    <ul>
                        <li><h2>一只想出去看看世界的程序猿,爱好摄影,旅行</h2></li>
                    </ul>
                </div>
            </div>
        </div>
	</div>
</article>


{% if site.useDuoshuo %}
<!-- 多说评论框 start -->
    <div class="comment">
        <div class="ds-thread" data-thread-key="{% if page.pid %}{{page.pid}}{% else %}{{page.id}}{% endif %}" data-title="{{page.title}}" data-url="{{site.url}}/about"></div>
    </div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"yjtx"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}
