---
layout: new_page
title: "游戏"
description: null
header-img: "img/game-bg.jpg"
---


<article>
    <div class="arrow_box">
        <div class="ti"></div>
        <!--三角形-->
        <div class="ci"></div>
        <!--圆形-->
    </div>
    <div class="view">
        <div class="row">
            <div class="one-tag-list">
			  	<span class="tag-list-title">游戏</span>
				<ul>
					<li>
                            <h2><a href="http://huadian.me/codeexample/game/caibaikuai/">踩白块</a></h2>
					</li>
					<li>
                            <h2><a href="http://xiyou2014.vipsinaapp.com/">西游</a></h2>
					</li>
					<li>
                            <h2><a href="http://huadian.me/codeexample/game/2048/">2048</a></h2>
					</li>
				</ul>
			</div>
		</div>
	</div>
</article>




{% if site.useDuoshuo %}
<!-- 多说评论框 start -->
    <div class="comment">
        <div class="ds-thread" data-thread-key="{% if page.pid %}{{page.pid}}{% else %}{{page.id}}{% endif %}" data-title="{{page.title}}" data-url="{{site.url}}/about"></div>
    </div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"yjtx"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}
